In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score
import joblib

In [2]:
import pandas as pd
df = pd.read_csv('Dataset.csv')

In [3]:
df.head()

,Commodity,State,Market,Today Price,Last Week,Last Month,Last Year,Today Arrivals,Last Week.1,Last Month.1,Last Year.1
0,Bajra(Pearl Millet/Cumbu),Andhra Pradesh,Kurnool,2379 (Mx:2657 Mn:2259),2389 (Mx:2625 Mn:2389),-,-,10.6,1.4,-,-
1,Bajra(Pearl Millet/Cumbu),Chattisgarh,Raipur,2968 (Mx:3150 Mn:2900),-,-,-,48.8,-,-,-
2,Bajra(Pearl Millet/Cumbu),Gujarat,Amirgadh,2685 (Mx:2685 Mn:2680),2650 (Mx:2650 Mn:2640),2650 (Mx:2650 Mn:2600),-,0.8,1.4,0.4,-
3,Bajra(Pearl Millet/Cumbu),Gujarat,Amreli,2705 (Mx:3125 Mn:1830),-,2840 (Mx:3000 Mn:2440),-,1.8,-,4.4,-
4,Bajra(Pearl Millet/Cumbu),Gujarat,Bayad,2100 (Mx:2625 Mn:2000),2300 (Mx:2625 Mn:2000),-,-,0.1,0.1,-,-

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3623 entries, 0 to 3622
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity       3623 non-null   object
 1   State           3623 non-null   object
 2   Market          3623 non-null   object
 3   Today Price     3616 non-null   object
 4   Last Week       3615 non-null   object
 5   Last Month      3618 non-null   object
 6   Last Year       3623 non-null   object
 7   Today Arrivals  3623 non-null   object
 8   Last Week.1     3623 non-null   object
 9   Last Month.1    3616 non-null   object
 10  Last Year.1     3521 non-null   object
dtypes: object(11)
memory usage: 311.5+ KB

In [5]:
df.describe()

,Commodity,State,Market,Today Price,Last Week,Last Month,Last Year,Today Arrivals,Last Week.1,Last Month.1,Last Year.1
count,3623,3623,3623,3616,3615,3618,3623,3623,3623,3616,3521
unique,19,27,1587,2459,1985,1651,688,1090,997,893,353
top,Onion,Uttar Pradesh,Kanpur(Grain),3000 (Mx:3000 Mn:2500),-,-,-,1,-,-,-
freq,684,641,11,48,730,1384,2703,117,726,1381,2616

In [6]:
df.rename(columns={
    'Today Price': 'Price',
    'Market': 'Market',
    'State': 'State',
    'Commodity': 'Commodity'
}, inplace=True)

In [7]:
df.head()

,Commodity,State,Market,Price,Last Week,Last Month,Last Year,Today Arrivals,Last Week.1,Last Month.1,Last Year.1
0,Bajra(Pearl Millet/Cumbu),Andhra Pradesh,Kurnool,2379 (Mx:2657 Mn:2259),2389 (Mx:2625 Mn:2389),-,-,10.6,1.4,-,-
1,Bajra(Pearl Millet/Cumbu),Chattisgarh,Raipur,2968 (Mx:3150 Mn:2900),-,-,-,48.8,-,-,-
2,Bajra(Pearl Millet/Cumbu),Gujarat,Amirgadh,2685 (Mx:2685 Mn:2680),2650 (Mx:2650 Mn:2640),2650 (Mx:2650 Mn:2600),-,0.8,1.4,0.4,-
3,Bajra(Pearl Millet/Cumbu),Gujarat,Amreli,2705 (Mx:3125 Mn:1830),-,2840 (Mx:3000 Mn:2440),-,1.8,-,4.4,-
4,Bajra(Pearl Millet/Cumbu),Gujarat,Bayad,2100 (Mx:2625 Mn:2000),2300 (Mx:2625 Mn:2000),-,-,0.1,0.1,-,-

In [8]:
import re

def remove_brackets(val):
    # Remove anything in parentheses/brackets and trailing/leading spaces
    if pd.isnull(val) or str(val).strip() == "-":
        return None
    # Remove bracketed info and keep only the first numeric value
    val = re.sub(r"\s*\(.*?\)", "", str(val)).strip()
    try:
        return float(val)
    except:
        return None

for col in ['Price', 'Last Week', 'Last Month', 'Last Year']:
    if col in df.columns:
        df[col] = df[col].apply(remove_brackets)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3623 entries, 0 to 3622
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity       3623 non-null   object
 1   State           3623 non-null   object
 2   Market          3623 non-null   object
 3   Price           3616 non-null   float64
 4   Last Week       2885 non-null   float64
 5   Last Month      2234 non-null   float64
 6   Last Year       906 non-null    float64
 7   Today Arrivals  3623 non-null   object
 8   Last Week.1     3623 non-null   object
 9   Last Month.1    3616 non-null   object
 10  Last Year.1     3521 non-null   object
dtypes: float64(4), object(7)
memory usage: 311.5+ KB

In [10]:
df.head()

,Commodity,State,Market,Price,Last Week,Last Month,Last Year,Today Arrivals,Last Week.1,Last Month.1,Last Year.1
0,Bajra(Pearl Millet/Cumbu),Andhra Pradesh,Kurnool,2379.0,2389.0,NaN,NaN,10.6,1.4,-,-
1,Bajra(Pearl Millet/Cumbu),Chattisgarh,Raipur,2968.0,NaN,NaN,NaN,48.8,-,-,-
2,Bajra(Pearl Millet/Cumbu),Gujarat,Amirgadh,2685.0,2650.0,2650.0,NaN,0.8,1.4,0.4,-
3,Bajra(Pearl Millet/Cumbu),Gujarat,Amreli,2705.0,NaN,2840.0,NaN,1.8,-,4.4,-
4,Bajra(Pearl Millet/Cumbu),Gujarat,Bayad,2100.0,2300.0,NaN,NaN,0.1,0.1,-,-

In [11]:
numerical_cols = [
    'Price', 'Last Week', 'Last Month', 'Last Year'
]

for col in numerical_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Now, fill NaN values in each numerical column with that column's median
for col in numerical_cols:
    median_value = df[col].median()
    df[col].fillna(median_value, inplace=True)

print(df.isnull().sum())

Commodity           0
State               0
Market              0
Price               0
Last Week           0
Last Month          0
Last Year           0
Today Arrivals      0
Last Week.1         0
Last Month.1        7
Last Year.1       102
dtype: int64

C:\Users\priya\AppData\Local\Temp\ipykernel_18604\629278663.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
C:\Users\priya\AppData\Local\Temp\ipykernel_18604\629278663.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
C:\Users\priya\AppData\Local\Temp\ipykernel_18604\629278663.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)
C:\Users\priya\AppData\Local\Temp\ipykernel_18604\629278663.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)

In [12]:
df.head()

,Commodity,State,Market,Price,Last Week,Last Month,Last Year,Today Arrivals,Last Week.1,Last Month.1,Last Year.1
0,Bajra(Pearl Millet/Cumbu),Andhra Pradesh,Kurnool,2379.0,2389.0,2500.0,2410.0,10.6,1.4,-,-
1,Bajra(Pearl Millet/Cumbu),Chattisgarh,Raipur,2968.0,2520.0,2500.0,2410.0,48.8,-,-,-
2,Bajra(Pearl Millet/Cumbu),Gujarat,Amirgadh,2685.0,2650.0,2650.0,2410.0,0.8,1.4,0.4,-
3,Bajra(Pearl Millet/Cumbu),Gujarat,Amreli,2705.0,2520.0,2840.0,2410.0,1.8,-,4.4,-
4,Bajra(Pearl Millet/Cumbu),Gujarat,Bayad,2100.0,2300.0,2500.0,2410.0,0.1,0.1,-,-

In [13]:
import pandas as pd

# Assume 'df' is your DataFrame after handling missing values
# Define your categorical features
categorical_cols = ['Commodity', 'State', 'Market']

# Perform one-hot encoding
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Display the first few rows to see the transformation
print("Data after One-Hot Encoding:")
print(df_encoded.head())

# # Display the new column names
print("\nNew columns created by encoding:")
print(df_encoded.columns)

Data after One-Hot Encoding:
    Price  Last Week  Last Month  Last Year Today Arrivals Last Week.1  \
0  2379.0     2389.0      2500.0     2410.0           10.6         1.4
1  2968.0     2520.0      2500.0     2410.0           48.8           -
2  2685.0     2650.0      2650.0     2410.0            0.8         1.4
3  2705.0     2520.0      2840.0     2410.0            1.8           -
4  2100.0     2300.0      2500.0     2410.0            0.1         0.1

  Last Month.1 Last Year.1  Commodity_Bajra(Pearl Millet/Cumbu)  \
0            -           -                                 True
1            -           -                                 True
2          0.4           -                                 True
3          4.4           -                                 True
4            -           -                                 True

   Commodity_Barley (Jau)  ...  Market_Yadgir  Market_Yalburga  \
0                   False  ...          False            False
1                   False  ...          False            False
2                   False  ...          False            False
3                   False  ...          False            False
4                   False  ...          False            False

   Market_Yamuna Nagar  Market_Yawal  Market_Yeola  Market_Yeotmal  \
0                False         False         False           False
1                False         False         False           False
2                False         False         False           False
3                False         False         False           False
4                False         False         False           False

   Market_Zaheerabad  Market_Zalod(Sanjeli)  Market_Zalod(Zalod)  Market_Zira
0              False                  False                False        False
1              False                  False                False        False
2              False                  False                False        False
3              False                  False                False        False
4              False                  False                False        False

[5 rows x 1638 columns]

New columns created by encoding:
Index(['Price', 'Last Week', 'Last Month', 'Last Year', 'Today Arrivals',
       'Last Week.1', 'Last Month.1', 'Last Year.1',
       'Commodity_Bajra(Pearl Millet/Cumbu)', 'Commodity_Barley (Jau)',
       ...
       'Market_Yadgir', 'Market_Yalburga', 'Market_Yamuna Nagar',
       'Market_Yawal', 'Market_Yeola', 'Market_Yeotmal', 'Market_Zaheerabad',
       'Market_Zalod(Sanjeli)', 'Market_Zalod(Zalod)', 'Market_Zira'],
      dtype='object', length=1638)

In [14]:
df_encoded.drop(columns=['Today Arrivals', 'Last Week.1', 'Last Month.1', 'Last Year.1'], inplace=True)

In [15]:
df_encoded.head()

,Price,Last Week,Last Month,Last Year,Commodity_Bajra(Pearl Millet/Cumbu),Commodity_Barley (Jau),Commodity_Bengal Gram(Gram)(Whole),Commodity_Black Gram (Urd Beans)(Whole),Commodity_Copra,Commodity_Cotton,...,Market_Yadgir,Market_Yalburga,Market_Yamuna Nagar,Market_Yawal,Market_Yeola,Market_Yeotmal,Market_Zaheerabad,Market_Zalod(Sanjeli),Market_Zalod(Zalod),Market_Zira
0,2379.0,2389.0,2500.0,2410.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2968.0,2520.0,2500.0,2410.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2685.0,2650.0,2650.0,2410.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2705.0,2520.0,2840.0,2410.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2100.0,2300.0,2500.0,2410.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np


X = df_encoded.drop(columns=['Price'])  # All columns except the one you want to predict
y = df_encoded['Price'] 
# -->> ADD THIS NEW CODE <<--
# Calculate the mean of the numerical columns
mean_values = X[['Last Week', 'Last Month', 'Last Year']].mean()

print("--- COPY THESE VALUES ---")
print(mean_values)
print("-------------------------")

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

xgb_model = xgb.XGBRegressor(
    objective='reg:squarederror', # Specifies the learning task and objective
    n_estimators=100,             # Number of boosting rounds
    max_depth=4,                  # Maximum depth of a tree
    learning_rate=0.1,            # Step size shrinkage
    random_state=10
)

--- COPY THESE VALUES ---
Last Week     3195.014057
Last Month    2855.132829
Last Year     2600.097847
dtype: float64
-------------------------

In [17]:
print("\nTraining the XGBoost model")
xgb_model.fit(X_train, y_train)
print("Model training complete.")

Training the XGBoost model
Model training complete.

In [18]:
y_pred = xgb_model.predict(X_test)

In [24]:
print(y_pred)

[ 2426.1938   3100.1865   6397.881    2086.408    2840.6797   6727.257
  2475.8464   4867.3276   1882.1954   1348.9619   2983.5505   2416.383
  2163.4695   2735.9104   2947.8115   4146.6094   2253.738    3229.3635
  4778.1553   2507.8347   2475.8464   2563.454    2321.9429   2806.6023
  2460.6929   3314.488    7421.2964   2359.662    7755.916    8832.101
  4250.3926   3144.77     3013.666    2206.2932   2032.5316   2677.0784
  2363.2832   2381.8115   2005.9442   2363.2832   2252.8186   1821.3854
  7360.9995   6235.015    2048.768   12490.737    7199.7246   5363.957
  1935.6183   6304.2275   2191.5881   2614.365    5994.801    5974.7153
  2789.239    2005.9442   2141.131    7525.944    2972.5757   6981.8223
  2460.6929   6720.777    2377.3718   3655.8718   2511.1128   4154.6733
  2487.7815   5379.6426   3429.9817   5762.873    6221.817    5185.0366
  8106.2905   2614.916    1583.7046   2537.7002   2244.8157   2735.9104
  6272.76     2891.5522   2041.5914   3172.805    2735.9104   3397.5417
  2244.8157   2752.2253   2061.219    1079.2661   3249.9668   5071.4614
  2273.5933   5496.0864   2123.0347   2495.9592   2981.95     4252.2793
  4285.552    2475.8464   6005.4644   2268.2107   2238.0225   2433.3179
  5295.648    2191.558    3194.8267   2095.0586   2124.8948   4818.2417
  7903.1357   1741.1064   2009.515    2495.6362   4450.8555   3196.1191
  3314.488    7322.7856   2735.9104   3366.1987   2260.1992   4098.6685
  1895.1289   3219.2007   6397.881    1708.3759   2563.454    2959.7466
  2468.2896   2627.5688   3625.4375   2460.6929   2251.8618   4252.2793
  3199.1377   2075.915    2439.2864   1867.7832   5845.2446   5823.33
  6844.5176   2789.239    2102.5024   2768.8916   3281.5068   5815.8804
  4285.552    2768.8916   5717.0703   3657.8042   5532.9307   2124.8545
  7525.944    5005.532    5445.809    3264.618    2523.0479   4751.6895
  6925.544    7548.9985   4818.2417   2789.239    2050.9126   3648.8333
  3719.466    2148.7344   3547.6228   3219.2322   1997.0891   2554.9673
  1729.8759   2260.961    3493.408    2868.6719   2487.7815   2711.2957
  2826.9878   2141.131    2229.58     5768.194    1570.2966   3648.8333
  3883.7585   5879.59     2882.8909   7874.3804   2826.9878   2735.9104
  4254.8027   2134.6565   4818.2417   3048.5015   2075.3557   2649.708
  8599.749    2847.4758   5721.8696   1206.6327   2885.596    2971.6155
  2753.9727   3249.9668   2915.1592   4254.8027   1997.0891   6720.777
  2440.1787   2412.1978   2487.7815   2573.977    2643.6619   3229.3635
  5583.9526   4172.6567   2649.708    7252.048    1524.2539   1707.2228
  6914.7915   5994.801    2321.9429   4530.268    3196.3823   2439.2864
  2352.888    1381.425    4983.455    5879.59     6233.4893   2826.9878
  2468.2896   5393.3784   2981.5762   2736.1392   2346.0742   2368.1997
  2563.454    3194.8267   5780.646    2523.0479   2460.6929   2523.0479
  2199.607     899.30945  3172.805    3672.4402   2487.7815   2563.454
  5548.547    6468.619    2891.5522   4071.9265   2388.585    2523.0479
  2197.004    1726.9075   2038.3025   4818.2417   2427.3513   2168.2778
  5379.6426   6017.9287   6304.2275   2398.0515   2806.6023   6794.328
  2173.179    2747.8455   2563.454    3046.4773   3014.0266   2683.2683
  2288.0852   2643.6619   2587.9485   2368.1997   2591.6572   2873.661
  1606.4153   4769.7725   2522.5466   2768.8916   2102.5024   1931.9133
  2903.4873   2124.0977   6794.328    2550.5862   3715.3848   2146.667
  2511.1128   2487.7815   2649.708    5363.957    7525.944    1684.5807
  6221.817    1877.6855   2514.369    7355.42     2047.2144   3715.3848
  6699.2026   2552.9783   5185.0366   2094.0842   3339.2378   3172.805
  4146.6094   2948.9688   2806.6023   7730.1113   2373.94     2549.6353
  3019.137    2826.9878   2959.8572   1021.3948   1448.0863   2789.239
  7252.048    2507.8347   5379.6426   2649.708    4172.069    2388.585
  1059.8229   2523.0479   4006.2166   1113.3962   2416.383    2426.1938
  3493.408    2768.8916   2045.6963   1435.5961   3264.618    2240.114
  2891.748    2495.9592   1883.4933   2052.8418   2963.7114   3351.1729
  3539.8352   5770.108    2193.4343   2768.8916   3076.3867   2545.427
  5379.6426   2191.558    2208.9216   1815.2124   2873.661    3034.7944
  2020.687    2736.1392   3339.2378   1582.7776   2761.5657   6354.31
  2710.2449   2807.3237   1791.2462   2368.1997   2461.4602   2438.7852
  1621.286    3061.7454   2475.8464   3335.3323   2460.6929   2201.992
  2495.9592   2003.0819   3246.0405   3493.408    2757.8125  12388.18
  2352.7407   4254.8027   3493.408    2507.8347   6221.817    5879.59
  2095.6345   1867.7832   2460.6929   7375.7886   3660.7683   4769.7725
  3194.8267   2224.9397   2198.86     2007.5957   4762.7485   3345.2366
  2753.9727   2142.3853   5379.6426   4816.3613   1586.333    5344.117
  3493.408    2815.0527   5832.607    2993.885    2460.6929   6794.328
  6463.3345   4450.8555   2475.8464   2216.03     6720.777    1490.341
  2395.4907   2868.6719   3088.2515   6401.4404   2469.3281   5879.59
  2511.1128   2735.9104   3013.666    5295.648    2826.9878   2197.004
  2134.6565   4146.6094   2048.768    2487.7815   6221.817    2501.309
  2460.6929   2563.454    4252.2793   2457.2227   2460.6929   1254.6265
  2948.9688   2840.6797   2352.427    2569.6167   3238.0317   2596.6082
  2229.58     3013.666    3010.5005   4071.9265   2638.2473   5583.9526
  1960.8402   2395.4907   5723.3594   3539.8352   2118.2234   1456.5476
  2619.7058   1203.5706   1467.1587   2563.454    2806.6023   2164.018
  3019.137    2735.9104   2780.8267   5410.3843   2620.827    2460.6929
  2401.685    5867.655    2460.6929   5891.262    1931.9133   2005.9442
  2753.9727   2960.9038   2735.9104   6040.8647   2460.6929   2735.9104
  3803.752    2399.2185   5815.8804   1079.2661   2460.6929   1381.425
  3723.4792   2021.7578   3022.3735   2460.6929   4820.8394   2177.1975
  2747.8455   2735.9104   3437.2695   2981.95     2211.704    2368.2905
  6227.2285   2495.9592   2105.2927   5244.097    5379.6426   1797.3313
  2167.508    2487.7815   6354.31     3048.5015   3194.8267   5255.9106
  6794.328    2587.9485   2066.8215   2422.9558   3481.473    5197.5083
  2048.768    3808.9033   2392.4617   4778.1553   2856.7368   2237.2869
  2416.383    5185.0366   2194.8652   6844.5176   2789.239    2569.6167
  3493.408    3412.7607   2190.057    5910.339    3345.2366   2256.1675
  1860.2207   3314.488    3199.1377   6831.901    2388.174    5379.6426
  1912.1267   7012.822    2785.2065   2785.2065   2495.9592   2105.5608
  3318.497    4932.8257   5910.339    2416.383    2629.4966   2523.0479
  1251.3728   2433.3179   3493.408    3052.335    3648.8333   4071.9265
  2587.9485   2694.9277   5514.4683   4184.004    2620.827    1950.8076
  1730.4185   2191.5881   5496.0864   6844.5176   2554.9673   6221.817
  5950.3276   5614.091    6803.9673   5496.0864   3832.3948   5379.6426
  3217.4285   2983.5505   2785.2065   2840.6797   2487.7815   2090.038
  6736.5317   4818.2417   2993.885    1072.9082   3229.3635   2253.738
  2478.6614  11894.367    1551.0717   2873.661    2368.2905   6005.4644
  3544.1277   7166.819    2412.1978   2711.2957   3883.7585   2507.8347
  2840.6797   2948.9688   2218.2283   2460.6929   2856.7368   7252.048
  2735.9104   3241.8137   7199.7246   2554.9673   1682.5674   2960.9038
  6699.2026   2495.9592   2551.2427   4818.2417   2198.762    5974.7153
  7017.7275   3314.488    6113.294    2045.6963   5862.6387   1085.8148
  2208.9216   5962.       5962.7803   2010.1968   5583.9526   2460.6929
  2911.633    2735.9104   2856.7368   2255.61     8422.198    3493.408
  4818.2417   2856.7368   6996.595    2643.6619   5185.0366   8177.029
  4254.8027   2164.018    2607.1245   4769.7725   3076.3867   7411.802
  4818.2417   5344.117    2768.8916   4818.2417   2247.637    1172.5026
  4071.9265   2735.9104   6493.0063   5780.646    6794.328    5205.852
  2475.8464   2537.7002   2194.8652   4254.8027   2981.95     2460.6929
  1693.2422   7525.944    2577.0947   2045.6963   2948.9688   2460.6929
  4751.6895   1489.8486   1730.4185   6089.9663   7017.7275   2826.9878
  2805.733    3493.408    2118.2234   2480.1794   6209.882    2948.9688
  2981.95     2587.9485   2981.95     1248.1814   2495.9592   2959.7466
  3144.77     2222.7651   2826.9878   2368.2905   3199.1377   2363.2832
  2403.0645   2840.6797   4471.162    4285.552    2947.8115   5891.262
  1947.5533   2426.1938   2573.977    2475.8464   1133.6906   1172.5026
  2395.4907   1524.2539   3527.9001   7166.819    4006.7979   2789.239
  2718.0837   3972.6702   2416.383    2596.6174   2412.1978   3001.4932
  7576.1533   4818.2417   2735.9104   2511.1128   6221.817  ]

In [19]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)  # Or mse**(0.5)
mae = mean_absolute_error(y_test, y_pred)

print("\nModel Performance Evaluation:")
print(f"  Mean Squared Error (MSE): {mse:.2f}")
print(f"  Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"  Mean Absolute Error (MAE): {mae:.2f}")

Model Performance Evaluation:
  Mean Squared Error (MSE): 706309.29
  Root Mean Squared Error (RMSE): 840.42
  Mean Absolute Error (MAE): 433.93

In [ ]:
query_df = pd.DataFrame(columns=xgb_model.columns)
query_df.loc[0, :] = 0.0
query_df.loc[0, commodity_col] = 1.0

In [21]:
import joblib
import xgboost as xgb
import numpy as np

# Assume 'final_xgb_model' is your trained XGBoost model from the previous step
# Assume 'X_test' is your test data for making a sample prediction

# --- 1. Save the model as a .pkl file (Recommended) ---
pkl_filename = "xgb_price_predictor.pkl"
joblib.dump(xgb_model, pkl_filename)

print(f"Model saved successfully as: {pkl_filename}")


# --- 2. Save the model in XGBoost's native format (Alternative) ---
json_filename = "xgb_price_predictor.json"
xgb_model.save_model(json_filename)

print(f"Model saved successfully in native XGBoost format as: {json_filename}")


# --- How to Load and Use Your Saved Models ---

# Load the .pkl model
loaded_model_pkl = joblib.load(pkl_filename)
print("\nLoaded .pkl model successfully.")

# Load the native XGBoost model
loaded_model_native = xgb.XGBRegressor()
loaded_model_native.load_model(json_filename)
print("Loaded native XGBoost model successfully.")


# --- Make a test prediction to verify ---
# (Using the first row of your test data as an example)
sample_prediction_pkl = loaded_model_pkl.predict(X_test[:1])
sample_prediction_native = loaded_model_native.predict(X_test[:1])

print(f"\nTest prediction from .pkl model: {sample_prediction_pkl[0]:.2f}")
print(f"Test prediction from native model: {sample_prediction_native[0]:.2f}")

Model saved successfully as: xgb_price_predictor.pkl
Model saved successfully in native XGBoost format as: xgb_price_predictor.json

Loaded .pkl model successfully.
Loaded native XGBoost model successfully.

Test prediction from .pkl model: 2426.19
Test prediction from native model: 2426.19

In [36]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
import joblib

# Assume 'X' and 'y' are your fully preprocessed features and target
# 1. Split the data (if you haven't already)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12)

# 2. Initialize and train the Random Forest Regressor
# These are solid starting parameters
rf_model = RandomForestRegressor(
    n_estimators=100,      # The number of trees in the forest
    max_depth=5,          # The maximum depth of each tree
    random_state=12,
    n_jobs=-1              # Use all available CPU cores
)

print("Training the Random Forest model...")
rf_model.fit(X_train, y_train)
print("Model training complete.")

# 3. Evaluate the model's performance
y_pred_rf = rf_model.predict(X_test)
rmse_rf = np.sqrt(mean_squared_error(y_test, y_pred_rf))

print("\nRandom Forest Performance:")
print(f"  Root Mean Squared Error (RMSE): {rmse_rf:.2f}")

# 4. Save the model to a .pkl file
pkl_filename_rf = "random_forest_predictor.pkl"
joblib.dump(rf_model, pkl_filename_rf)

print(f"\nModel saved successfully as: {pkl_filename_rf}")

Training the Random Forest model...
Model training complete.

Random Forest Performance:
  Root Mean Squared Error (RMSE): 983.07

Model saved successfully as: random_forest_predictor.pkl

In [25]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
import joblib  # <-- Library for saving the model
import os

# --- 1. DATA PREPARATION ---
# Assume 'df' is your initial DataFrame loaded from a CSV
# e.g., df = pd.read_csv('your_data.csv')

# Make sure the columns exist before dropping.
# This step is from your screenshot, cleaning up duplicate/unwanted columns.
cols_to_drop = ['Today Arrivals', 'Last Week.1', 'Last Month.1', 'Last Year.1']
existing_cols_to_drop = [col for col in cols_to_drop if col in df.columns]
if existing_cols_to_drop:
    df.drop(columns=existing_cols_to_drop, inplace=True)
    print(f"Dropped columns: {existing_cols_to_drop}")

# Perform one-hot encoding, exactly as you did
categorical_cols = ['Commodity', 'State', 'Market']
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Convert boolean columns created by get_dummies to integers (0s and 1s)
# This is a robust practice to ensure all data is numeric.
for col in df_encoded.columns:
    if df_encoded[col].dtype == 'bool':
        df_encoded[col] = df_encoded[col].astype(int)

print("\nData after One-Hot Encoding:")
print(df_encoded.head())


# --- 2. PREPARE DATA FOR MODELING ---

# Define your features (X) and target (y)
X = df_encoded.drop(columns=['Price'])
y = df_encoded['Price']

# --- !!! THIS IS THE CRITICAL STEP FOR YOUR FLASK APP !!! ---
# Calculate the mean of the numerical columns needed for defaults in Flask.
mean_values = X[['Last Week', 'Last Month', 'Last Year']].mean()

print("\n" + "="*50)
print("--- COPY THESE VALUES INTO YOUR FLASK APP'S DEFAULT_VALUES ---")
print(mean_values)
print("="*50 + "\n")
# ---

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)


# --- 3. MODEL TRAINING ---

# Initialize the XGBoost Regressor with your parameters
xgb_model = xgb.XGBRegressor(
    objective='reg:squarederror',
    n_estimators=100,
    max_depth=4,
    learning_rate=0.1,
    random_state=10
)

print("Training the XGBoost model...")
# Fit the model on the training data
xgb_model.fit(X_train, y_train)
print("Model training complete.")


# --- 4. MODEL EVALUATION (Good practice to check performance) ---

y_pred = xgb_model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)

print("\nModel Performance on Test Set:")
print(f"  Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"  Mean Absolute Error (MAE): {mae:.2f}")


# --- 5. SAVE THE TRAINED MODEL TO A FILE ---

# Define the filename for your model
model_filename = 'xgb_price_predictor_g.pkl'

# Use joblib to dump the trained model into a file
joblib.dump(xgb_model, model_filename)

print("\n" + "*"*50)
print(f"âœ… Model successfully saved to '{model_filename}'")
print("âž¡ï¸ MOVE THIS FILE to your 'GRAMINAI/backend/' directory.")
print("*"*50)

Dropped columns: ['Today Arrivals', 'Last Week.1', 'Last Month.1', 'Last Year.1']

Data after One-Hot Encoding:
    Price  Last Week  Last Month  Last Year  \
0  2379.0     2389.0      2500.0     2410.0
1  2968.0     2520.0      2500.0     2410.0
2  2685.0     2650.0      2650.0     2410.0
3  2705.0     2520.0      2840.0     2410.0
4  2100.0     2300.0      2500.0     2410.0

   Commodity_Bajra(Pearl Millet/Cumbu)  Commodity_Barley (Jau)  \
0                                    1                       0
1                                    1                       0
2                                    1                       0
3                                    1                       0
4                                    1                       0

   Commodity_Bengal Gram(Gram)(Whole)  \
0                                   0
1                                   0
2                                   0
3                                   0
4                                   0

   Commodity_Black Gram (Urd Beans)(Whole)  Commodity_Copra  Commodity_Cotton  \
0                                        0                0                 0
1                                        0                0                 0
2                                        0                0                 0
3                                        0                0                 0
4                                        0                0                 0

   ...  Market_Yadgir  Market_Yalburga  Market_Yamuna Nagar  Market_Yawal  \
0  ...              0                0                    0             0
1  ...              0                0                    0             0
2  ...              0                0                    0             0
3  ...              0                0                    0             0
4  ...              0                0                    0             0

   Market_Yeola  Market_Yeotmal  Market_Zaheerabad  Market_Zalod(Sanjeli)  \
0             0               0                  0                      0
1             0               0                  0                      0
2             0               0                  0                      0
3             0               0                  0                      0
4             0               0                  0                      0

   Market_Zalod(Zalod)  Market_Zira
0                    0            0
1                    0            0
2                    0            0
3                    0            0
4                    0            0

[5 rows x 1634 columns]

==================================================
--- COPY THESE VALUES INTO YOUR FLASK APP'S DEFAULT_VALUES ---
Last Week     3195.014057
Last Month    2855.132829
Last Year     2600.097847
dtype: float64
==================================================

Training the XGBoost model...
Model training complete.

Model Performance on Test Set:
  Root Mean Squared Error (RMSE): 840.42
  Mean Absolute Error (MAE): 433.93

**************************************************
âœ… Model successfully saved to 'xgb_price_predictor_g.pkl'
âž¡ï¸ MOVE THIS FILE to your 'GRAMINAI/backend/' directory.
**************************************************